@model LoginWith2faViewModel
@{
    ViewData["Title"] = "Two-factor authentication";
    Layout = "_LayoutAccount";

}

@*<h2>@ViewData["Title"]</h2>
<hr />
<p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-returnUrl="@ViewData["ReturnUrl"]">
            <input asp-for="RememberMe" type="hidden" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TwoFactorCode"></label>
                <input asp-for="TwoFactorCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="TwoFactorCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMachine">
                        <input asp-for="RememberMachine" />
                        @Html.DisplayNameFor(m => m.RememberMachine)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Log in</button>
            </div>
        </form>
    </div>
</div>*@
@*<p>
    Don't have access to your authenticator device? You can
    <a asp-action="LoginWithRecoveryCode" asp-route-returnUrl="@ViewData["ReturnUrl"]">log in with a recovery code</a>.
</p>*@

<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-size1: 100% 50%; background-image: url(/admin-side/demo3/dist/assets/media/illustrations/development-hd-dark.png)">
        <div class="text-center pt-10">
            <a href="/" class=" ">
                <img alt="Logo" src="~/images/Logo TT-Swap 512X.png" class="h-70px" />
            </a>
        </div>
        <div class="p-5 pb-lg-20">
            <div class="w-lg-500px bg-body rounded shadow-sm p-5 p-lg-15 mx-auto">
                <form class="form w-100" method="post">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="text-center mb-10">
                        <h1 class="text-dark mb-3">Sign In to TT-SWAP</h1>
                        <div class="text-gray-400 fw-bold fs-4">
                            Your login is protected with an authenticator app. Enter your authenticator code below.
                        </div>
                    </div>
                    <div class="fv-row mb-10">
                        <div class="d-flex flex-stack mb-2">
                            <label class="form-label fw-bolder text-dark fs-6 mb-0">Authenticator code</label>
                        </div>
                        <input asp-for="TwoFactorCode" class="form-control form-control-lg form-control-solid" autocomplete="off" id="txtTwoFactorCode" />
                        <span asp-validation-for="TwoFactorCode" class="text-danger"></span>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-lg btn-primary mb-5">
                            <span class="indicator-label">Continue</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}